<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
	<menu id="root-menu" label="OpenBox 3">
	<item label="Terminal"> <action name="Execute"> <execute> /usr/bin/terminal </execute> </action> </item>
	<menu id="922" label = "Network">
	    <item label="Firefox"> <action name="Execute"> <execute> /usr/bin/firefox </execute> </action> </item>
	    <item label="Thunderbird"> <action name="Execute"> <execute> /usr/bin/thunderbird </execute> </action> </item>
	    <item label="Evolution"> <action name="Execute"> <execute> /usr/bin/evolution </execute> </action> </item>
	    <item label="Zenmap"> <action name="Execute"> <execute> /usr/bin/gksudo /usr/bin/zenmap </execute> </action> </item>
        <item label="Wireshark"> <action name="Execute"> <execute> /usr/bin/wireshark </execute> </action> </item>
        <item label="Mumble"> <action name="Execute"> <execute> /usr/bin/mumble </execute> </action> </item>
    </menu>
    <menu id="2" label="Text Utils">
	    <item label="jEdit"> <action name="Execute"> <execute> /usr/bin/jedit </execute> </action> </item>
	    <item label="Assistant"> <action name="Execute"> <execute> /usr/bin/assistant </execute> </action> </item>
	    <item label="Designer"> <action name="Execute"> <execute> /usr/bin/designer </execute> </action> </item>
	    <item label="Zim"> <action name="Execute"> <execute> /usr/bin/zim </execute> </action> </item>
	    <item label="Calc"> <action name="Execute"><execute>/usr/bin/libreoffice --calc</execute></action> </item>
        <item label="Impress"> <action name="Execute"><execute>/usr/bin/libreoffice --impress</execute></action> </item>
        <item label="Math"> <action name="Execute"><execute>/usr/bin/libreoffice --math</execute></action> </item>
        <item label="Writer"> <action name="Execute"><execute>/usr/bin/libreoffice --writer</execute></action> </item>
        <item label="AbiWord"> <action name="Execute"><execute>/usr/bin/abiword-2.8</execute>r</action> </item>
        <item label="BibleTime"> <action name="Execute"><execute>/usr/bin/bibletime</execute></action> </item>
        <item label="Gnumeric"> <action name="Execute"><execute>/usr/bin/gnumeric</execute></action> </item>
        <item label="KMyMoney"> <action name="Execute"><execute>/usr/bin/kmymoney</execute></action> </item>
        <item label="Revelation"> <action name="Execute"> <execute> /usr/bin/revelation </execute> </action> </item>
    </menu>
    <menu id="921" label = "File System">
        <item label="pcmanfm"> <action name="Execute"> <execute> /usr/bin/pcmanfm </execute> </action> </item>
        <item label="Thunar"> <action name="Execute"> <execute> /usr/bin/thunar </execute> </action> </item>
	    <item label="Baobab"> <action name="Execute"> <execute> /usr/bin/baobab </execute> </action> </item>
    </menu>
    <menu id="920" label = "Audio">
	    <item label="Decibel Audio Player"> <action name="Execute"> <execute> /usr/bin/decibel-audio-player </execute></action></item>
	    <item label="Gnome Music Player Client"> <action name="Execute"><execute>/usr/bin/gmpc</execute></action> </item>
	    <item label="Easytag"> <action name="Execute"> <execute> /usr/bin/easytag </execute> </action> </item>	    
    </menu>
	<menu id="42" label="Games">
	    <item label="Minecraft"> <action name="Execute"> <execute> /home/nickp/.minecraft/minecraft.sh </execute> </action> </item>
	    <item label="Minecraft Server"> <action name="Execute"> <execute> /home/nickp/.minecraft/minecraft-server.sh </execute> </action> </item>
	    <item label="Openttd"> <action name="Execute"> <execute> /usr/games/bin/openttd </execute> </action> </item>
	    <item label="mumble"> <action name="Execute"> <execute> /usr/bin/mumble </execute> </action> </item>
    </menu>
    <menu id="6" label="Graphics">
        <item label="Darktable Photo Workflow Software"> <action name="Execute"><execute>darktable</execute></action> </item>
        <item label="digiKam"> <action name="Execute"><execute>digikam</execute></action> </item>
        <item label="Document Viewer"> <action name="Execute"><execute>evince</execute></action> </item>
        <item label="Hugin Batch Processor"> <action name="Execute"><execute>PTBatcherGUI</execute></action> </item>
        <item label="Hugin Panorama Creator"> <action name="Execute"><execute>hugin</execute></action> </item>
        <item label="Geeqie"> <action name="Execute"><execute>geeqie</execute></action> </item>
        <item label="GNU Image Manipulation Program"> <action name="Execute"><execute>gimp-2.6</execute></action> </item>
        <item label="Image Viewer"> <action name="Execute"><execute>eog</execute></action> </item>
        <item label="Inkscape"> <action name="Execute"><execute>inkscape</execute></action> </item>
        <item label="Panorama"> <action name="Execute"><execute>panoramagui</execute></action> </item>
        <item label="UFRaw"> <action name="Execute"><execute>ufraw</execute></action> </item>
    </menu>
    <separator/>
    <menu id="40" label="OpenBox | Config">
        <menu id="client-list-menu"/>
        <item label="GTK Theme"> <action name="Execute"> <execute> /usr/bin/lxappearance </execute> </action> </item>
        <item label="Background"> <action name="Execute"> <execute> /usr/bin/nitrogen </execute> </action> </item>
        <item label="Taskbar"> <action name="Execute"> <execute> /usr/bin/tintwizard </execute> </action> </item>
        <item label="Edit Menu"> <action name="Execute"> <execute> /usr/bin/jedit ~/.config/openbox/menu.xml </execute> </action> </item>
        <item label="Obconf"> <action name="Execute"> <execute> /usr/bin/obconf </execute> </action> </item>
        <item label="Reload Config"> <action name="Reconfigure"/> </item>
    </menu>
    <separator/>
    <item label="Exit"> <action name="Exit"/> </item>
	</menu>
</openbox_menu>
